/* ---- GENERAL ---- */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  border: none;
  cursor: pointer;
}

label[type=text] {
  color: #1F1F3D;
  font-size: 1em;
}

/* ---- LEFT-BOX ---- */
.left-box {
  display: flex;
  flex-direction: column;
  background: #1F1F3D;
  color: #E9E9F3;
  height: 100vh;
  width: 37vh;
}

.left-title {
  font-weight: bold;
  border-bottom: 1px solid #5356A4;
  padding: 1% 63% 10% 2%;
  margin: 5% 25% 5% 1%;
}

.left-filter {
  display: flex;
  padding: 1% 5% 10% 2%;
}

.show-starred {
  font-size: 1.3em;
  padding: 3% 5% 3% 5%;
  margin: 3% 5% 3% 5%;
  background-color: #5356A4;
  color: #E9E9F3;
}

/* ---- RIGHT-FORM ---- */

/* ---- IDEAS-GRID ---- */
